# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NetBeansProjects\Search_Project_AI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
